<?xml version="1.0"?>
<configuration>
    
      <configSections>
            <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
                  <section name="TW_Tally.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            </sectionGroup>
      </configSections>
      <connectionStrings>
            <add name="TW_Tally.Properties.Settings.userDBConnectionString"
                  connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\App_Data\userDB.mdb"
                  providerName="System.Data.OleDb" />
      </connectionStrings>
      <startup useLegacyV2RuntimeActivationPolicy="true">
     
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
      <userSettings>
            <TW_Tally.Properties.Settings>
                  <setting name="PassWordMd5Twice" serializeAs="String">
                        <value>4B1F8F775E93C0BF399CECC0103EBEF3</value>
                  </setting>
            </TW_Tally.Properties.Settings>
      </userSettings>
</configuration>
